@import url('./styles/search.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("");
  background-size: cover;
  background-position: center;
  background-image: url("image/backround container.jpg");
  background-size: cover;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* Это надо тоже как и search перенести в свой файл css я его создал в папке styles  */
/* тут много что через positionсверсватно от этого уйти надо надо чтоб все было на display flex иди display grid это для адаптивности надо */

.container {
  position: relative;
  width: 400px;
  height: 555px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  padding: 20px;
  color: #fff;
}

.weather-box {
  text-align: center;
}

.weather-img {
  width: 150px;
  height: 150px;
}

.weather-box .temperature {
  position: relative;
  font-size: 64px;
  line-height: 1;
  font-weight: 700px;
  margin: 10px 0 10px;
}

.weather-box .description {
  font-size: 32px;
  font-weight: 500px;
  text-transform: capitalize;
}

.wether-details {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  padding: 0 20px;
  display: flex;
}

.wether-details .humidity,
.wether-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
}

.wether-details .humidity {
  padding-left: 20px;
  justify-content: flex-start;
}
.wether-details .wind {
  padding-right: 20px;
  justify-content: flex-end;
}

.wether-details i {
  font-size: 56px;
  margin-right: 10px;
}

.wether-details span {
  display: flex;
  font-size: 22px;
  font-weight: 500;
}

.wether-details p {
  font-size: 14px;
  font-weight: 500;
}
