* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('');
    background-size: cover;
    background-position: center;
    background-image: url('photo/backround container.jpg');
    background-size: cover;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
  
.container{
   position: relative;
   width: 400px;
   height: 555px;
   background: rgba(0, 0, 0, 0.4);
   backdrop-filter: blur(2px);
   border: 5px solid rgba(255, 255, 255,0.1);
   border-radius: 16px;
   padding: 20px;
   color:#fff;
   
}

.search-box{
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.search-box i {
    position: absolute;
    left: 10px;
    font-size: 28px;
    
}
.search-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    outline:none;
    border-radius: 10px;
    font-size: 22px;
    color:#fff;
    font-weight: 500px;
    padding: 0 48px 0 42px;
}

.search-box input::placeholder {
    color:#fff;
    text-transform: capitalize;

}

.search-box button{
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    color:#fff;
    padding: 0px 30px 0 5px;
    cursor: pointer;
}
.weather-box{
    text-align: center;
}

.weather-img {
    
    width: 150px;
    height: 150px;
   
}

.weather-box .temperature {
    position: relative;
    font-size:64px;
    line-height: 1;
    font-weight: 700px;
    margin: 10px 0 10px ;
}




.weather-box .description {
    font-size: 32px;
    font-weight: 500px;
    text-transform: capitalize;
   
}


.wether-details {
    position: absolute;
    bottom:40px;
    left:0;
    width: 100%;
    padding: 0 20px;
    display: flex;
}

.wether-details .humidity,
.wether-details .wind {
    display: flex;
    align-items: center;
    width: 50%;
}

.wether-details .humidity{
padding-left: 20px;
justify-content: flex-start;
}
.wether-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
}

.wether-details i {
    font-size: 56px;
    margin-right: 10px;
}

.wether-details span {
    display: flex;
    font-size: 22px;
    font-weight: 500;
}

.wether-details p {
    font-size: 14px;
    font-weight: 500;
}